[submodule "libs/libretro-common"]
	path = libs/libretro-common
	url = git@github.com:r-belenov/libretro-common
	branch = master
[submodule "cores"]
	path = cores
	url = git@github.com:r-belenov/sf2000_multicore_cores
	branch = main
[submodule "assets/coreconfig"]
	path = assets/coreconfig
	url = git@github.com:tzubertowski/sf2000_gb300_multicore_core_config.git
